<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="ModernWpfUI" version="0.9.6" targetFramework="net472" />
  <package id="ModernWpfUI.MahApps" version="0.9.5" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>